---
const { starlightRoute } = Astro.locals;
---

<div class="codex-two-column-content lg:sl-flex">
  <div class="main-pane codex-main-pane">
    <slot />
    {starlightRoute.toc && (
      <aside class="right-sidebar-container print:hidden">
        <div class="right-sidebar">
          <slot name="right-sidebar" />
        </div>
      </aside>
    )}
  </div>
</div>
